doctype html
html
  head
    link(rel="stylesheet", href="styles.min.css")
  body
    .galaxy
      .battery
      .month
      .day
      .weekday
      .hours
      .minutes
      .seconds

    .display
      .hours
      .minutes

    script(src="scripts.min.js")
